.archive h2
{
    text-align: center;
    text-transform:uppercase;
    font-size: 40px;
    color:white;
    background-color:rgba(235,20,83,0.8);
    padding:100px;
}
@media screen and (max-width:767px)
{
    .archive h2
    {
        text-align: center;
        font-size: 25px;
        padding:60px;
    }
    .documents
    {
       align-items: center;
    }
   
}
.documents
  {
    
    display:flex;
    flex-direction: column;
    width: 80%;
    margin:5% auto;
    font-size: larger;
  }
.card
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 10px 10px;
  list-style: none;
  transition: border 0.3s ease, transform 0.3s ease;
  margin: 25px 0;
}

li.card:hover {
  transform: scale(1.05);
}
.authlist
{
  list-style: none;
}
.search-container {
  position: relative;
  width: 100%;
}
.search-icon {
  position: absolute;
  left: 10px; /* Adjust as needed */
  top: 35%;
  transform: translateY(-50%);
  height: 15px; /* Adjust as needed */
  width: 15px; /* Adjust as needed */
}
  input[type=text] {
    border-radius: 15px;
    padding: 15px;
    padding-left: 60px;
    width: 40%;
    margin-bottom: 2%;
    font-size: large;
    font-weight:600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:#ccc;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
input[type=text]:focus
{
  color:rgba(235,20,83,0.8);
  width: 100%;
}

@media screen and (max-width:767px){
  input[type=text]
  {
    width: 50%;
    font-size: small;
    padding: 10px 0;
    padding-left: 40px;
  }
}