.archive h2
{
    text-align: center;
    text-transform:uppercase;
    font-size: 40px;
    color:white;
    background-color:rgba(235,20,83,0.8);
    padding:100px;
}
@media screen and (max-width:767px)
{
    .archive h2
    {
        text-align: center;
        font-size: 25px;
        padding:60px;
    }
    .documents
    {
       align-items: center;
    }
   
}
.documents
  {
    
    display:flex;
    flex-direction: column;
    width: 80%;
    margin:5% auto;
    font-size: larger;
  }

table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  input[type=text] {
    padding: 15px;
    width: 100%;
    margin-bottom: 2%;
    font-size: large;
    font-weight:600;
  }
input[type=text]:focus
{
        color:red;
}

  .author-column {
    width: 20%; 
    white-space: pre-line; 
  }
  .doi-column
  {
    width:8%; 
  }
  a.download-link {
    text-decoration: none;
    color: black;
  }
  a.download-link:hover
  {
   color: red;
   font-size: 15px;
  }
  
