.authorsguide h2
{
    text-align: center;
    text-transform:uppercase;
    font-size: 40px;
    color:white;
    background-color:rgba(235,20,83,0.8);
    padding:150px;
}
.download-button {
    background-color:rgb(255, 188, 43);
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 50px;
    margin-left:10%; 
    cursor: pointer;
  }
  @media screen and (max-width:767px)
  {
    .download-button
    {
        margin-left: 20px;
    }
  }
  .fa-file-pdf-o:before {
    content: "\f1c1";
  }
    
.authguidetext
{
    padding:2% 10%;
    text-align: justify;
    font-size: larger;
    margin-bottom:25px;
}
.authguidetext ul
{
    list-style: none;
}
.authguidetext h2,h3
{
    margin:8px 0;
}
@media screen and (max-width:767px)
{
    .authorsguide h2
    {
        text-align: center;
        font-size: 25px;
        padding:90px;
    }
    .authguidetext
    {
        font-size:large;
        padding: 20px 24px;
        margin:0;
    }
    .download-button:focus 
    {
        outline: none;
        background-color: transparent;
    }
}