Style for the embedded Google Form
.embedded-form {
    width: 100%; 
    height: auto; 
    max-width: 800px; 
    margin: 0 auto; 
    border: none;
    align-items: center;
  }
  
  .embedded-form iframe {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  