.edboard h2
{
    text-align: center;
    text-transform:uppercase;
    font-size: 40px;
    color:white;
    background-color:rgba(235,20,83,0.8);
    padding:110px;
}
.edboardmem
{
    display: block;
    text-align: justify;
    font-weight: 500;
    font-size: 25px;
    list-style:none;
    margin: 10% 15%;
}
.edboardmem li
{
    margin:30px 0;
}
.edboardmem li p
{
    font-size:smaller;
    
}
@media screen and (max-width:767px)
{
    .edboard h2
    {
        text-align: center;
        font-size: 25px;
        padding: 60px;
    }
    .edboardmem li
    {
        font-size:20px;
    }
    .edboardmem li p
    {
        font-size: small;
        text-align: justify;
    }
}