*
{
    box-sizing: border-box;
    white-space: nowrap;
}
.edboard
{
    width: 100%;
    max-width: 80%;
    margin: 5% auto;
}
.edboard-h2
{
    text-align: center;
    text-transform:uppercase;
    font-size: 40px;
    color:white;
    background-color:rgba(235,20,83,0.8);
    padding:100px;
}
.edboardcontent
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}
.edboardmem
{
    display: block;
    text-align: justify;
    font-weight: 500;
    font-size: 25px;
    list-style:none;
    margin: 0% 10%;
}
.edtext
{
    text-align: right;
}
.edboardmem li
{
    margin:5% 0;
}
.edboardmem li p
{
    font-size:smaller;
    
}
@media screen and (max-width:767px)
{
    .edboardcontent
    {
        display: flex;
        flex-direction: column;
    }
    .edtext
    {
        text-align: initial;
    }
    .edboard-h2
    {
        text-align: center;
        font-size: 25px;
        padding: 60px;
    }
    .edboardmem li
    {
        font-size:20px;
    }
    .edboardmem li p
    {
        /* font-size: small; */
        text-align: justify;
    }
}