*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.banner
{
    text-align: center;
    text-transform:uppercase;
    font-size: 40px;
    color:white;
    background-color:rgba(235,20,83,0.8);
    padding:100px;
}
.ethicspolicy
{
    width: 100%;
    max-width: 80%;
    margin: 5% auto;
    font-size: larger;
}
.policylist
{
    display: flex;
    flex-direction: column;
    grid-gap:25px;
    list-style: none;   
    text-align: justify;
}
.policylist li
{
    display: flex;
    flex-direction: column;
    grid-gap:5px;
}
@media screen and (max-width:767px)
{
    .banner
    {
        text-align: center;
        font-size: 25px;
        padding: 60px;
    }
}