*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.conatiner
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    margin:48px 0;
}
.coverimg
{
    width: 100%;
    max-width:16rem;
    height: auto;
    transition: border 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.coverimg:hover
{
  transform: scale(1.05);
}
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.lightbox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.secleft
{
    width:100%;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 15px;
    text-align:left;
    padding:0 15px;
    border-right: 1px solid grey;
}
.homecontent
{
    width: 60%;
    display: flex;
    flex-direction: column;
    grid-gap:25px;
    padding:0 3rem;
    padding-top:16px;
    font-size: larger;
}
.homecontent p
{
    text-align: justify;
}
.secright
{
    width: 20%;
    /* border-left:1px solid grey; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 15px;
}
.lefthead
{
  cursor: pointer;
  color: darkblue;
  background-image: linear-gradient(    to right,    darkred,    orangered 50%,    darkblue 50%  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: border 0.3s ease, transform 0.3s ease;
}
.lefthead:before
{
    content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.lefthead:hover
{
    background-position: 0;
    transform: scale(1.05);
}
.leftpar
{
    color: orangered;
}
  .container-heading {
    position: relative;
    text-align: center;
    background-color: #f0f0f0;
    color:black;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-bottom: none;
}

  .scroll-container {
    border: 1px solid #ccc;
    height: 150px;
    overflow: hidden;
  }
  .scroll-container:hover .scroll-text {
    animation-play-state: paused;
  }
  .scroll-text {
    height: 100%;
    text-align: center;
    /*animationproperties*/-moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -moz-animation: my-animation 6s linear infinite;
    -webkit-animation: my-animation 6s linear infinite;
    animation: my-animation 6s linear infinite;
    color: darkred;
}
  @keyframes my-animation {
    from {
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
}
    to {
      -moz-transform: translateY(-90%);
      -webkit-transform: translateY(-90%);
      transform: translateY(-90%);
      -ms-transform: translateY(-90%);
      -o-transform: translateY(-90%);
}
  }
@media screen and (max-width:767px)
{
    .conatiner
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        margin: 0;
        margin-bottom:1rem;
    }
    .secleft
    {
        all: initial;
        order:2;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-gap: 15px;
        margin: 10px auto;
        width: 100%;
        max-width: 80%;
    }
    .homecontent
    {
        all: initial;
        order: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-gap:15px;
        margin: 20px auto;
        width: 100%;
        max-width: 80%;
        font-size: larger;
    }   
    .secright
    {
        all: initial;
        order: 1;
        width: 100%;
        background-color:rgba(228, 209, 209, 0.432);
    }
    .coverimg
    {
        display: flex;
        margin: 30px auto;
        width: 100%;
        max-width: 80%;
    }
    .scroll-container
    {
        margin: 0 auto;
        /* margin-bottom: 30px; */
        width: 100%;
        /* max-width: 80%; */
        background-color: white;
    }
    .container-heading
    {
        width: 100%;
        margin: 0 auto;
        margin-top: 15px;
        /* max-width: 80%; */
        text-align: center;
    }
    .scroll-text
    {
        color: darkred;
    }
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: rgba(235,20,83);
    font-size: 30px;
    font-weight: bold;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eb910b;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .blink-text{
		color: #000;
    font-size:large;
		animation: blinkingText 2s infinite;
		-webkit-animation: blinkingText 2s infinite;
}
	@keyframes blinkingText{
		35%		{ color: red;}
    70%   { color: black;}
    100%  { color: blue;}
	}