*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  h3{
  font-size:18px;
  text-align: center;
  }
  /* default styles */
  .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  }
  
  .navbar img
  {
    max-width:8%;
    margin:0px auto;
  }
  @media screen and (max-width:650px) {
    .navbar img{
        margin:1px auto;
        max-width:28%;
    }
  }
  
  .navbar a {
    background-color: cornflowerblue;
  color: #fff;
  text-decoration: none;
  padding: 10px ;
  flex-grow: 1;
  text-align: center;
  transition: all 0.3s ease;
  }
  
  .navbar a.active
  {
    background-color: rgb(255, 188, 43);
    color: black;
  }
  
  .navbar a:hover {
    background-color: #6127e9;
    color:white;
  }

  /*dropdown*/  
  .list {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  .dd:hover .list {
    display: block;
  }
  
  .list ul {
    background-color: #fff;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display:none;
  }
  .list:hover ul {
    display: block;
  }
  
  .list li {
    display: block;
    padding: 10px;
  }
  
  .list li:hover {
    background-color: #f2f2f2;
  }
  
  .list a {
    color: #000;
    text-decoration: none;
  }  

  /* Side Navigation */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.3);
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #0645AD;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .sidenav-btn {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    /* Side Navigation for Small Devices */
    .sidenav-btn {
      display: block;
      cursor: pointer;
      z-index: 9999;
      position: fixed;
      top:36px;
      left:7px;
      height: 40px;
      width: 40px;
      line-height:40px;
      text-align: center;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius:50%;
    }
  
    h3 {
      font-size:14px;
      margin:1px 2px;
    }

    .sidenav {
      padding-top:50%;
    }
  
    .sidenav a {
      padding:5% 25px;
      font-size: 16px;
    }
  
    .sidenav-btn:hover {
      background-color: #eee;
    }
  
    .sidenav-btn:focus {
      outline: none;
    }
  
    .sidenav-btn:before {
      content: "";
    }
  }
  