.nacore h2
{
    text-align: center;
    text-transform:uppercase;
    font-size: 40px;
    color:white;
    background-color:rgba(235,20,83,0.8);
    padding:100px;
}
.content
{
    padding:10% 15%;
    font-size:x-large;
    text-align: justify;
}
@media screen and (max-width:767px)
{
   
    .nacore h2
    {
        text-align: center;
        font-size: 25px;
        padding:60px;
    }
    .content
    {
        font-size:large;
        padding: 40px 24px;
        margin:0;
        float: none;
    }
    .pa
    {
    text-align: left;
    overflow: hidden;
    }
}
